
body{
    background-color: ghostwhite;
    margin: 5%;
}

label {
    color: dimgrey;
    font-size: large;
}

input {
    padding: 2px 2px;
    margin: 8px 0;
}

#form1 {
    color: dimgray;
    font-size:medium;
}