
html{
    height: 100%;

}

.header h1{
    font-style: italic;
    color: black;
    font-family: Georgia, Verdana, Serif;
    margin: auto;
    text-align: center;

}

body {

    background-color:lightblue;
    align-content: center;
    margin: auto;
    position: relative;
    height: 100%;

}

p {
    font-family: "Times New Roman", Verdana, Serif;
}

.imgSize150 {
    max-width: 150px;
    max-height: 150px;
    border: double;

}

.pythonImg {
    align-items: left;
    border: dashed;

}

section {
    max-width: 75ch;
    margin: auto;
    position: relative;
    padding-bottom: 46px;
    margin-bottom: auto;
    clear: both;
    min-height: 100%;
    overflow: auto;

}
section ol {
    height: 100%;
    position: relative;
}

section ol li {
    height: 100%;
    position: relative;
}

.center {
    margin: auto;
    width: 50%;

}



.wrapper {
    margin: auto;
    position: relative;
    padding-bottom: 46px;
    margin-bottom: auto;
    clear: both;
    min-height: 100%;
    overflow: auto;
}
.wrapper ul {
    list-style-type: square;
    height: 100%;
    position: relative;
}

.wrapper ul li:last-child {
    color: white;
    height: 100%;
    position: relative;
}


footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 1rem;
    background-color: aquamarine;
    text-align: center;
    margin: auto;
    height: 30px;
    margin-top: 3rem;


}